@import '../styles/variables.scss';

.card {
    width: 250px;
    height: 336px;
    background-color: $grey;
    padding: 30px 10px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__img {
        display: flex;
        width: 128px;
        height: 198px;
    }

    &__text {
        height: 57px;
        display: flex;
        flex-direction: column;
        width: 180px;
        justify-content: space-between;
        margin-top: 26px;

        &__categories, &__author{
            color: $dark-grey;

        }

        & span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}