.header {
    height: 286px;
    padding: 22px 0px;
    background: url(../assets/images/nav-background.png);
    
    &__search {
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-bottom: 18px;
        }
    }

    &__filters {
        height: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__categories {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        &__sorting {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
    
}

@media screen and (max-width: 570px) {
    .header {
        &__search {
            h1 {
                font-size: 24px;
            }
        }
        &__filters {
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            select, h2 {
                font-size: 14px;
            }
        }
    }
}